DATABASE_URL=postgresql://etutor_user:etutor_password@postgres:5432/etutor_db
PORT=8080
NODE_ENV=development
AWS_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID="your-key"
AWS_SECRET_ACCESS_KEY="your-secret"